 <header class="cabecalho" id="cabecalho">
    <div class="container">   
      <nav class="cabecalho-nav">
        <a id="cabecalho-nav-link" href="/paginamateriais">Página de materiais</a>
        <img id="seta-direita" src = "./img/seta-direita.png" width="10" height="10"/>
        <a class="cabecalho-nav-link" id="Letra-home" href="/">Home</a>
      </nav>
    </div>
</header>

<main class="conteudo">
    <div class="container">
      <h2>Materiais para empréstimos</h2>
      <ul class="conteudo-materiais" onclick="window.location= '/formulario'"> 
        {{#each posts}}
        {{#if dataValues.disponibilidade}} 

        <li class="conteudo-materiais-lista">
            <a href = "/">
            <p style ="color:black">{{dataValues.nome}}</p>
            </a>
          <br></br>
         ID:
          <p style="color:#a80000">{{dataValues.id}}</p> 
          </li>
        {{else}}
        <li class="conteudo-materiais-lista">
            <a href = "/">
            <p>{{dataValues.nome}}</p>
            </a>
            <p>Indisponivel</p>
         ID:
          <p style="color:#a80000">{{dataValues.id}}</p>
         </li>
         {{/if}}
         {{/each}} 
      
      </ul>
    </div>
  </main>